$background-green: #00ffa2;
$login-green: #2FC18C;
$white: white;
$blue: #003BE5;
$placeholder-blue: #85a4ff;
$hover-blue: #002aa7;
$hover-green: #29a578;
$gray: gray;
$expense-form-bg: rgba(225, 229, 235);
$shadow-color: rgba(3, 107, 82, 0.3);