header {
  background-color: $white;

  #expense-details {
    color: $blue;
  }

  #login-email {
    color: $login-green;
  }

  .symbol-img {
    width: 28px;
  }

}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .login-form {
    background-color: $white;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    width: 41%;
    height: 356px;
    border-radius: 10px;
    box-shadow: -4px 9px 13px $shadow-color;
  
    img {
      width: 51%;
      margin-top: 59px;
      margin-bottom: 44px;
    }

    button {
      width: 63%;
      height: 40px;
      background-color: $blue;
      border-radius: 5px;
      text-align: center;
      color: $white;
      font-weight: 700;
    }

    button:disabled, button:disabled:hover {
      background-color: $gray;
    }

    button:hover {
      background-color: $hover-blue;
      cursor: pointer;
    }
  }
}

.wallet-header-wrap{
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  height: 482px;
  width: 81%;
  position: absolute;
  top: -97px;
  border-radius: 10px;
  box-shadow: -4px 9px 13px $shadow-color-darker;
}

.wallet-page {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  
  header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding-top: 153px;
    padding-bottom: 47px;

    .logo-img{
      width: 250px;
    }

    .symbol-img {
      width: 26px;
    }

    .info-wrapper {
      display: flex;
      align-items: center;
    }
  }
}

.expense-form {
  margin: 0;
  background-color: $expense-form-bg;
  display: flex;
  flex-flow: column wrap;
  color: $blue;
  font-size: 14px;
  align-content: space-around;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  
  .expense-inputs {
      height: 134px;
      width: 100%;
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: space-around;
  }

  input, select {
    height: 30px;
    margin: 0;
  }

  #description-wrapper{
    width: 460px;
    display: flex;
    align-items: center;
    input {
      width: 57%;
      margin-left: 5px;
    }
  }

  #tag-wrapper{
    width: 330px;
    display: flex;
    align-items: center;
    select {
      width: 47%;
      margin-left: 5px;
    }
  }

  #value-wrapper{
    width: 300px;
    display: flex;
    align-items: center;
    input {
      width: 78%;
      margin-left: 5px;
    }
  }

  #method-wrapper{
    width: 403px;
    display: flex;
    align-items: center;
    select {
      width: 56%;
      margin-left: 5px;
    }
  }

  #currency-wrapper{
    width: 155px;
    display: flex;
    align-items: center;
    select {
      width: 58%;
      margin-left: 5px;
    }
  }
}

.expense-btn {
  background-color: $white;
  height: 95px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

  button {
    background-color: $login-green;
    height: 40px;
    width: 32%;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    color: $white;
  }

  button:hover {
    background-color: $hover-green;
    cursor: pointer;
  }

}

.table-wrap {
  background-color: $blue;
  color: $white;
  z-index: -1;
  position: absolute;
  top: 156px;
  width: 90%;
  min-height: 129px;
  padding-top: 265px;
  padding-bottom: 70px;
  border-radius: 10px;
  box-shadow: -4px 9px 13px $shadow-color;
  display: flex;
  justify-content: center;

  table {
    border-collapse: collapse ;
  }

  thead th {
    border-bottom: 2px solid $white;
    border-spacing: 0 0;
    text-align: center;
    width: 100%;
    height: 40px;
    width: 111px;
    font-size: 12px;
  }

  tbody tr {
    height: 40px;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    color: $login-green;
    border-bottom: 2px solid $login-green;
  }
}